asgiref==3.9.1
certifi==2025.8.3
Django==4.2.7
django-elasticsearch-dsl==8.0
djangorestframework==3.14.0
elastic-transport==8.17.1
elasticsearch==8.11.0
elasticsearch-dsl==8.11.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
